.data/
.git/
.idea/
.vscode/
data-scripts/
node_modules/
*.md
*.log
.editorconfig
.env
.gitignore
.prettierrc.json
development.http
docker-compose.yml
http-client.env.json
package-lock.json
Dockerfile
LICENSE
